<% content_for :title, "Kontakt" %>
<div class="container mt-3">
  <div class="w-50">
    <div>
      <h2>
        Kontakt
      </h2>
    </div>
    <div>
      <p>
        <a href="https://svoby.eu">Kontakt</a>
      </p>
    </div>
  </div>
</div>