<h1>Simple aplikace</h1>

<h1>Zdravím <%= @user.name %> </h1>

<p>
  Vítej v této aplikaci. Kliknutím na odkaz si aktivuj svůj účet:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
