<h1>Obnovení hesla</h1>

<p>Pro obnovení hesla klikněte na odkaz:</p>

<%= link_to "Změnit heslo", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>Platnost tohoto odkazu vyprší za 2 hodiny</p>

<p>Pokud jste o změnu hesla nezažádali, ignorujte tuto zprávu</p>